// Favorite Color
$White: #ffffff;
$Black:#071E2B;
$Primary: #2198d5;
$Linear-Blue: linear-gradient(
  41deg,
  #002a5d 0%,
  #002c60 16%,
  #003469 29%,
  #014079 39%,
  #015190 49%,
  #025fa2 56%,
  #0268a5 58%,
  #019ab7 72%,
  #00bec3 84%,
  #00d4cb 94%,
  #00dcce 100%
);
$Box-Shadow: rgba(155, 155, 155, 0.25);
