@font-face {
    font-family: "FFShamelFamily-Normal";
    src: url("@/assets/fonts/FFShamelFamily-Normal.ttf") format("truetype");
}
@font-face {
    font-family: "FFShamelFamily-Bold";
    src: url("@/assets/fonts/FFShamelFamily-Bold.ttf") format("truetype");
}